/* General Formatting + Grid */
html {
    --ltbrown: #C4B794;
    --dkbrown: #382C20;
    --orange: #E47813;
    --ltyellow: #FFF7DE;
}

body {
    color: var(--dkbrown);
    font-family: filson-pro,sans-serif;
    font-size: 14px;
    font-weight: 200, 500;
    font-style: normal;
}

h1 {
    font-size: 2.5rem;
    font-weight: 500;
}

h2 {
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-weight: 500;
    padding: .5rem 0;
    text-transform: uppercase;
}

h3 {
    font-size: 1rem;
    font-weight: .25rem;
    padding: .5rem 0 .25rem 0;

}

h4 {
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 200;
    text-transform: uppercase;
}

p {
    font-weight: 200;
}

hr {
    border: 1px solid var(--orange);
    width: 33.33vw;
}

.grid {
    display: grid;
    grid-template-columns: [full-start] minmax(1rem, 1fr) [main-start] minmax(0, 1280px) [main-end] minmax(1rem, 1fr) [full-end];
}

.grid > * {
    grid-column: main; 
}

/* Header & NavBar*/
header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    padding-bottom: 1rem;
    padding-top: 2rem;
}

.script-logo {
    max-width: 75px;
    vertical-align: auto;
}

.logo {
    max-width: 30px;
}

.fa-bars {
    color: var(--dkbrown);
    max-width: 21px;
}

/* Hero Section */
.hero-container {
    height: 90vh;
    text-align: center;
}

.hero {
    height: 75vh;
}

.hero-img {
    display: flex;
    height: 100%;
    object-fit: cover;
    padding-bottom: 1rem;
    width: 100%;
}

.hero-container h1 {
    font-size: 2.5rem;
    font-weight: 500;
}

/* Menu */

table {
    
}

.menu-col-1 {
    width: 60vw;
    padding-right: 4rem;
}

.menu-col-2 {
    max-width: 25vw;
    vertical-align: text-top;
}

/* Shops Section */
.shops img {
    display: grid;
    max-width: 85vw;
}

/* About Section */
.about-img {
    overflow-x:scroll;
    overflow-y:hidden;
    width: 98vw;
}

.about-img ul {
    list-style: none; 
    display: block;
    white-space:nowrap;
}

.about-img li {
    display: inline-block;
    /* height: 100px;  */
    max-height: 150px;
    object-fit: contain;
    object-position: center;
}

/* Media Queries */
@media screen and (min-width:800px) {
    .two-column {
        display: grid;
        column-gap: 3rem;
        content: center;
        grid-template-columns: 1fr 1fr 1fr;
    }
}