/************************************
General Formatting + Grid 
************************************/
html {
    --dkblue: #3A4E66;
    --ltgray: #E5E5E5;
    --txtcolor: #202B38;
    scroll-behavior: smooth;
}

body {
    background-color: #FAFDFF;
    color: var(--txtcolor);
    font-family: Montserrat, sans-serif;
    font-size: 24pt;
    font-weight: 300, 500;
    font-style: normal;
}

h1 { /* navbar header */
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
}

h2 { /* main project title */
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
}

h3 { /* sub-title labels */
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
}

h4 { /* subheads */
    font-size: 1.5rem;
    font-weight: 500;
}

h5 { /* footer links */
    font-size: .75rem;
    font-weight: 300;
    text-decoration: none;
}

p {
    font-size: 1rem;
    font-weight: 300;
}

img {
    padding: 1rem 0;
}

.fa-solid { /* all icon styles */
    color: var(--dkblue);
}

.grid {
    display: grid;
    grid-template-columns: [full-start] minmax(2rem, 1fr) [main-start] minmax(0, 1280px) [main-end] minmax(2rem, 1fr) [full-end];
}

.grid > * {
    grid-column: main; 
}

hr {
    background-color: var(--dkblue); 
    border: none;
    height: 3px;
    margin: 2rem 0 1rem 0;
    width: 20vw;
    
}

.current-page { /* apply this class to element link in current page */
    font-weight: bold;
}

/************************************
NavBar & Header
************************************/

header {
    background-color: var(--dkblue);
    margin-bottom: 2rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}

.navbar a {
    color: var(--ltgray);
    text-decoration: none;
}

/************************************ 
Hero Section 
************************************/



/************************************ 
Project Overview Section 
************************************/

.overview div{
    padding-top: 1rem;
}

table td {
    padding-bottom: 2rem;
    padding-right: 5rem;
} 

/************************************ 
Process & Finals Section 
************************************/

.process div {
    padding: 1rem 0;
}

.images {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
}

.images img {
    max-height: 500px;
}

.images-three {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
}

.images-four {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
}

.wrapper {
    padding: 1rem 0;
}

.finals {
    padding: 2rem 0;
}

/************************************ 
Bottom Nav Section 
************************************/

.nav-icons {
    display: flex;
    justify-content: space-between;
}

/************************************ 
Footer 
************************************/

footer {
    background-color: var(--txtcolor);
    color: var(--ltgray);
    margin-top: 2rem;
}

/* .footer-element {
    display: flex;
    justify-content: space-between;
} */

.footer-element{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

/* .links {
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
} */

footer a {
    color: var(--ltgray);
    text-decoration: none;
}

/************************************
Media Queries 
************************************/

/*  for tablet & desktop */
@media screen and (min-width:800px) {

    /* general styles */
    .desktop-grid {
        display: grid;
        column-gap: 3rem;
        content: center;
        grid-template-columns: 1fr 1fr;
    }

    hr {
        width: 5vw;
    }

    
    /* hero and header */
    .desktop-header {
        display: flex;
        align-items: flex-end;
    }
    
    .proj-header {
        max-width: 25vw;
        padding-right: 1rem;
    }
    
    .grid.desktop-home > * {
        grid-column: auto;
    }

    .hero-img {
        max-width: 50vw;
    }

    /* home page project grid */
    .desktop-rows {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    .thumbnail {
        padding: 0 1rem 1rem 0;
    }
    
    .home-hr {
        display: none;
    }

   .desktop-home {
       align-items: end;
       display: grid;
       grid-template-columns: 1fr 3fr;
       padding: 1rem 13rem 2rem 14rem;
   }

    /* project overview */

    .overview-desktop {
        display: flex;
    }

    /* process */
    .rev-row {
        direction: rtl;
    }

    .flipped-process {
        text-align: left;
    }

    .images-four {
        display: grid;
        gap: 2rem;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    /* final scrollthrough */

    /* footer */
    .footer-element{
        padding: 2rem 14rem 2rem 13rem;
        display: flex;
        justify-content: space-between;
    }
}